module Secret
    (
        oauth_key
    )
where

-- Step 1: Generate your OAuth token: https://twitchapps.com/tmi/
-- Step 2: Paste your token into the string below. 
-- Step 3: Remove the .template extension of this file. 

oauth_key = "<put your oauth key here>"